<h1>Ingredients#show</h1>
<p>Find me in app/views/ingredients/show.html.erb</p>

<%= @ingredient.name %>

<%= link_to "Edit", edit_ingredient_path %>
<%= link_to "Destroy", ingredient_path(@ingredient), method: :delete, data: {confirm:"Are you sure you want to delete it?"}%>

<%= link_to "home", ingredients_path %>
