<h1>Doses#show</h1>
<p>Find me in app/views/doses/show.html.erb</p>

<%= @dose.description %>

<%= link_to "Edit", edit_dose_path %>
<%= link_to "Destroy", dose_path(@dose), method: :delete, data: {confirm:"Are you sure you want to delete it?"}%>

<%= link_to "home", doses_path %>
